.hover-effect {
    position: relative;
    display: inline-block;
  }
  
  .hover-effect::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: #f97316; /* Orange color */
    transition: width 0.3s ease-in-out;
  }
  
  .hover-effect:hover::before {
    width: 100%;
  }
  